flows.json
[{"id":"6c4ef3f6.6b4e3c","type":"tab","label":"Tello Camera Dashboard","disabled":false,"info":""},{"id":"33144f63.ee0b8","type":"udp out","z":"6c4ef3f6.6b4e3c","name":"","addr":"192.168.10.1","iface":"","port":"8889","ipv":"udp4","outport":"52955","base64":false,"multicast":"false","x":1030,"y":120,"wires":[]},{"id":"899770bf.0aa5b","type":"function","z":"6c4ef3f6.6b4e3c","name":"Tello Send Cmd","func":"var TBL_CRC16 = [\n\t\t\t0x0000, 0x1189, 0x2312, 0x329b, 0x4624, 0x57ad, 0x6536, 0x74bf, 0x8c48, 0x9dc1, 0xaf5a, 0xbed3, 0xca6c, 0xdbe5, 0xe97e, 0xf8f7,\n\t\t\t0x1081, 0x0108, 0x3393, 0x221a, 0x56a5, 0x472c, 0x75b7, 0x643e, 0x9cc9, 0x8d40, 0xbfdb, 0xae52, 0xdaed, 0xcb64, 0xf9ff, 0xe876,\n\t\t\t0x2102, 0x308b, 0x0210, 0x1399, 0x6726, 0x76af, 0x4434, 0x55bd, 0xad4a, 0xbcc3, 0x8e58, 0x9fd1, 0xeb6e, 0xfae7, 0xc87c, 0xd9f5,\n\t\t\t0x3183, 0x200a, 0x1291, 0x0318, 0x77a7, 0x662e, 0x54b5, 0x453c, 0xbdcb, 0xac42, 0x9ed9, 0x8f50, 0xfbef, 0xea66, 0xd8fd, 0xc974,\n\t\t\t0x4204, 0x538d, 0x6116, 0x709f, 0x0420, 0x15a9, 0x2732, 0x36bb, 0xce4c, 0xdfc5, 0xed5e, 0xfcd7, 0x8868, 0x99e1, 0xab7a, 0xbaf3,\n\t\t\t0x5285, 0x430c, 0x7197, 0x601e, 0x14a1, 0x0528, 0x37b3, 0x263a, 0xdecd, 0xcf44, 0xfddf, 0xec56, 0x98e9, 0x8960, 0xbbfb, 0xaa72,\n\t\t\t0x6306, 0x728f, 0x4014, 0x519d, 0x2522, 0x34ab, 0x0630, 0x17b9, 0xef4e, 0xfec7, 0xcc5c, 0xddd5, 0xa96a, 0xb8e3, 0x8a78, 0x9bf1,\n\t\t\t0x7387, 0x620e, 0x5095, 0x411c, 0x35a3, 0x242a, 0x16b1, 0x0738, 0xffcf, 0xee46, 0xdcdd, 0xcd54, 0xb9eb, 0xa862, 0x9af9, 0x8b70,\n\t\t\t0x8408, 0x9581, 0xa71a, 0xb693, 0xc22c, 0xd3a5, 0xe13e, 0xf0b7, 0x0840, 0x19c9, 0x2b52, 0x3adb, 0x4e64, 0x5fed, 0x6d76, 0x7cff,\n\t\t\t0x9489, 0x8500, 0xb79b, 0xa612, 0xd2ad, 0xc324, 0xf1bf, 0xe036, 0x18c1, 0x0948, 0x3bd3, 0x2a5a, 0x5ee5, 0x4f6c, 0x7df7, 0x6c7e,\n\t\t\t0xa50a, 0xb483, 0x8618, 0x9791, 0xe32e, 0xf2a7, 0xc03c, 0xd1b5, 0x2942, 0x38cb, 0x0a50, 0x1bd9, 0x6f66, 0x7eef, 0x4c74, 0x5dfd,\n\t\t\t0xb58b, 0xa402, 0x9699, 0x8710, 0xf3af, 0xe226, 0xd0bd, 0xc134, 0x39c3, 0x284a, 0x1ad1, 0x0b58, 0x7fe7, 0x6e6e, 0x5cf5, 0x4d7c,\n\t\t\t0xc60c, 0xd785, 0xe51e, 0xf497, 0x8028, 0x91a1, 0xa33a, 0xb2b3, 0x4a44, 0x5bcd, 0x6956, 0x78df, 0x0c60, 0x1de9, 0x2f72, 0x3efb,\n\t\t\t0xd68d, 0xc704, 0xf59f, 0xe416, 0x90a9, 0x8120, 0xb3bb, 0xa232, 0x5ac5, 0x4b4c, 0x79d7, 0x685e, 0x1ce1, 0x0d68, 0x3ff3, 0x2e7a,\n\t\t\t0xe70e, 0xf687, 0xc41c, 0xd595, 0xa12a, 0xb0a3, 0x8238, 0x93b1, 0x6b46, 0x7acf, 0x4854, 0x59dd, 0x2d62, 0x3ceb, 0x0e70, 0x1ff9,\n\t\t\t0xf78f, 0xe606, 0xd49d, 0xc514, 0xb1ab, 0xa022, 0x92b9, 0x8330, 0x7bc7, 0x6a4e, 0x58d5, 0x495c, 0x3de3, 0x2c6a, 0x1ef1, 0x0f78\n\t\t];\n\t\t\nvar TBL_CRC8 = [\n\t\t\t0x00, 0x5e, 0xbc, 0xe2, 0x61, 0x3f, 0xdd, 0x83, 0xc2, 0x9c, 0x7e, 0x20, 0xa3, 0xfd, 0x1f, 0x41,\n\t\t\t0x9d, 0xc3, 0x21, 0x7f, 0xfc, 0xa2, 0x40, 0x1e, 0x5f, 0x01, 0xe3, 0xbd, 0x3e, 0x60, 0x82, 0xdc,\n\t\t\t0x23, 0x7d, 0x9f, 0xc1, 0x42, 0x1c, 0xfe, 0xa0, 0xe1, 0xbf, 0x5d, 0x03, 0x80, 0xde, 0x3c, 0x62,\n\t\t\t0xbe, 0xe0, 0x02, 0x5c, 0xdf, 0x81, 0x63, 0x3d, 0x7c, 0x22, 0xc0, 0x9e, 0x1d, 0x43, 0xa1, 0xff,\n\t\t\t0x46, 0x18, 0xfa, 0xa4, 0x27, 0x79, 0x9b, 0xc5, 0x84, 0xda, 0x38, 0x66, 0xe5, 0xbb, 0x59, 0x07,\n\t\t\t0xdb, 0x85, 0x67, 0x39, 0xba, 0xe4, 0x06, 0x58, 0x19, 0x47, 0xa5, 0xfb, 0x78, 0x26, 0xc4, 0x9a,\n\t\t\t0x65, 0x3b, 0xd9, 0x87, 0x04, 0x5a, 0xb8, 0xe6, 0xa7, 0xf9, 0x1b, 0x45, 0xc6, 0x98, 0x7a, 0x24,\n\t\t\t0xf8, 0xa6, 0x44, 0x1a, 0x99, 0xc7, 0x25, 0x7b, 0x3a, 0x64, 0x86, 0xd8, 0x5b, 0x05, 0xe7, 0xb9,\n\t\t\t0x8c, 0xd2, 0x30, 0x6e, 0xed, 0xb3, 0x51, 0x0f, 0x4e, 0x10, 0xf2, 0xac, 0x2f, 0x71, 0x93, 0xcd,\n\t\t\t0x11, 0x4f, 0xad, 0xf3, 0x70, 0x2e, 0xcc, 0x92, 0xd3, 0x8d, 0x6f, 0x31, 0xb2, 0xec, 0x0e, 0x50,\n\t\t\t0xaf, 0xf1, 0x13, 0x4d, 0xce, 0x90, 0x72, 0x2c, 0x6d, 0x33, 0xd1, 0x8f, 0x0c, 0x52, 0xb0, 0xee,\n\t\t\t0x32, 0x6c, 0x8e, 0xd0, 0x53, 0x0d, 0xef, 0xb1, 0xf0, 0xae, 0x4c, 0x12, 0x91, 0xcf, 0x2d, 0x73,\n\t\t\t0xca, 0x94, 0x76, 0x28, 0xab, 0xf5, 0x17, 0x49, 0x08, 0x56, 0xb4, 0xea, 0x69, 0x37, 0xd5, 0x8b,\n\t\t\t0x57, 0x09, 0xeb, 0xb5, 0x36, 0x68, 0x8a, 0xd4, 0x95, 0xcb, 0x29, 0x77, 0xf4, 0xaa, 0x48, 0x16,\n\t\t\t0xe9, 0xb7, 0x55, 0x0b, 0x88, 0xd6, 0x34, 0x6a, 0x2b, 0x75, 0x97, 0xc9, 0x4a, 0x14, 0xf6, 0xa8,\n\t\t\t0x74, 0x2a, 0xc8, 0x96, 0x15, 0x4b, 0xa9, 0xf7, 0xb6, 0xe8, 0x0a, 0x54, 0xd7, 0x89, 0x6b, 0x35,\n\t\t]\n\n\t\t\nfunction _calcCRC16 (buf, size) {\n\t\tvar i = 0 ;\n\t\tvar seed = 0x3692 ;\n\t\twhile (size > 0) {\n\t\t\tseed = TBL_CRC16[(seed ^ buf[i]) & 0xff] ^ (seed >> 8)\n\t\t\ti++ ;\n\t\t\tsize-- ;\n\t\t} \n\t\treturn seed ;\n\t}\n\nfunction _calcCRC8 (buf, size) {\n\t\tvar i = 0 ;\n\t\tvar seed = 0x77 ;\n\t\twhile (size > 0) {\n\t\t\tseed =  TBL_CRC8[(seed ^ buf[i]) & 0xff]\n\t\t\ti++ ;\n\t\t\tsize-- ;\n\t\t}\n\t\treturn seed ;\n\t}\n\n\t\nfunction buildPacket(pacType, cmdID, seq, data) {\n\t\tvar size = 11 + (data?data.length:0);\n\t\tvar bb = Buffer.alloc(size)\n\t\tvar packetTypeInfo = 0x40 | ((pacType & 0x07) <<3);\n\t\tbb.writeUInt8(0xCC,0)\n\t\tbb.writeUInt8((size << 3) & 0xFF ,1)\n\t\tbb.writeUInt8((size >> 5) & 0xFF ,2)\n\t\n    \tvar crc8 = _calcCRC8([...bb], 3)\n\t\tbb.writeUInt8(crc8,3);\n\t\tbb.writeUInt8(packetTypeInfo,4);\n\t\tbb.writeUInt16LE(cmdID,5);\n\t\tbb.writeUInt16LE(seq,7);\n\t\t//console.log(\"DBG\", data, len);\n\t\tif (data) {\n\t\t\tfor (var i=0; i<data.length; i++) {\n\t\t\t\tbb.writeUInt8(data[i], [9+i]);\n\t\t\t}\n\t\t}\n\t\tvar crc16 = _calcCRC16([...bb], size - 2);\n\t\tbb.writeUInt16LE(crc16, size-2) ;\n\t\treturn bb ;\n\t}\n\t\nvar seqID = global.get(\"seqID\");\nif (\"undefined\" === typeof seqID) {\n    seqID = -1 ;\n}\nseqID++ ;\nglobal.set(\"seqID\", seqID);\n\n\nvar out = buildPacket(msg.payload.packType, msg.payload.TelloCmdId, seqID, msg.payload.data);\nmsg.payload = out;\nmsg.hex = out.toString('hex');\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":120,"wires":[["33144f63.ee0b8","ebd83467.574858"]]},{"id":"9f27f24b.a9f9f","type":"change","z":"6c4ef3f6.6b4e3c","name":"TELLO_CMD_TAKEPIC - 48","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"TelloCmdId\":48,\"packType\":5}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["899770bf.0aa5b"]]},{"id":"8cff1b35.122658","type":"inject","z":"6c4ef3f6.6b4e3c","name":"TELLO_CMD_TAKEPIC","topic":"","payload":"TELLO_CMD_TAKEPIC","payloadType":"str","repeat":"10","crontab":"","once":false,"onceDelay":"","x":170,"y":80,"wires":[["5a493371.795a9c"]]},{"id":"ce1d6dbb.bcfca","type":"udp in","z":"6c4ef3f6.6b4e3c","name":"","iface":"","port":"52955","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":120,"y":300,"wires":[["127816a2.220ab9"]]},{"id":"127816a2.220ab9","type":"function","z":"6c4ef3f6.6b4e3c","name":"parse incoming messages","func":"//var TELLO_CMD_ALT_LIMIT = 4182;\n//var TELLO_CMD_LIGHT_STRENGTH = 53;\n//var TELLO_CMD_LOW_BATT_THRESHOLD = 4183;\n//var TELLO_CMD_STATUS = 86;\n//var TELLO_CMD_LOG_HEADER_WRITE = 4176;\n//var TELLO_CMD_LOG_DATA_WRITE = 4177;\n\nvar TELLO_msgDoConnect           = 0x0001 // 1\nvar TELLO_msgConnected           = 0x0002 // 2\nvar TELLO_msgQuerySSID           = 0x0011 // 17\nvar TELLO_msgSetSSID             = 0x0012 // 18\nvar TELLO_msgQuerySSIDPass       = 0x0013 // 19\nvar TELLO_msgSetSSIDPass         = 0x0014 // 20\nvar TELLO_msgQueryWifiRegion     = 0x0015 // 21\nvar TELLO_msgSetWifiRegion       = 0x0016 // 22\nvar TELLO_msgWifiStrength        = 0x001a // 26\nvar TELLO_msgSetVideoBitrate     = 0x0020 // 32\nvar TELLO_msgSetDynAdjRate       = 0x0021 // 33\nvar TELLO_msgEisSetting          = 0x0024 // 36\nvar TELLO_msgQueryVideoSPSPPS    = 0x0025 // 37\nvar TELLO_msgQueryVideoBitrate   = 0x0028 // 40\nvar TELLO_msgDoTakePic           = 0x0030 // 48\nvar TELLO_msgSwitchPicVideo      = 0x0031 // 49\nvar TELLO_msgDoStartRec          = 0x0032 // 50\nvar TELLO_msgExposureVals        = 0x0034 // 52 (Get or set?)\nvar TELLO_msgLightStrength       = 0x0035 // 53\nvar TELLO_msgQueryJPEGQuality    = 0x0037 // 55\nvar TELLO_msgError1              = 0x0043 // 67\nvar TELLO_msgError2              = 0x0044 // 68\nvar TELLO_msgQueryVersion        = 0x0045 // 69\nvar TELLO_msgSetDateTime         = 0x0046 // 70\nvar TELLO_msgQueryActivationTime = 0x0047 // 71\nvar TELLO_msgQueryLoaderVersion  = 0x0049 // 73\nvar TELLO_msgSetStick            = 0x0050 // 80\nvar TELLO_msgDoTakeoff           = 0x0054 // 84\nvar TELLO_msgDoLand              = 0x0055 // 85\nvar TELLO_msgFlightStatus        = 0x0056 // 86\nvar TELLO_msgSetHeightLimit      = 0x0058 // 88\nvar TELLO_msgDoFlip              = 0x005c // 92\nvar TELLO_msgDoThrowTakeoff      = 0x005d // 93\nvar TELLO_msgDoPalmLand          = 0x005e // 94\nvar TELLO_msgFileSize            = 0x0062 // 98\nvar TELLO_msgFileData            = 0x0063 // 99\nvar TELLO_msgFileDone            = 0x0064 // 100\nvar TELLO_msgDoSmartVideo        = 0x0080 // 128\nvar TELLO_msgSmartVideoStatus    = 0x0081 // 129\nvar TELLO_msgLogHeader           = 0x1050 // 4176\nvar TELLO_msgLogData             = 0x1051 // 4177\nvar TELLO_msgLogConfig           = 0x1052 // 4178\nvar TELLO_msgDoBounce            = 0x1053 // 4179\nvar TELLO_msgDoCalibration       = 0x1054 // 4180\nvar TELLO_msgSetLowBattThresh    = 0x1055 // 4181\nvar TELLO_msgQueryHeightLimit    = 0x1056 // 4182\nvar TELLO_msgQueryLowBattThresh  = 0x1057 // 4183\nvar TELLO_msgSetAttitude         = 0x1058 // 4184\nvar TELLO_msgQueryAttitude       = 0x1059 // 4185\n\nvar seqID ;\nvar pacType;\n\nfunction parsePacket (bb) {\n    var ret = {};\n\tvar size = bb.length;\n\tvar payload = bb.slice(9,size);\n\tvar dataSize = 0;\n\tvar cmdID    = 0;\n\n\tif (bb.length >= 11) {\n\t\tvar mark = bb.readUInt8(0);\n\t\tif (mark == 0xCC) {\t// start of packet\n\t\t    size      = bb.readUInt16LE(1) >> 3;\n\t\t    var crc8  = bb.readUInt8(3);\n\t\t    pacType   = bb.readUInt8(4);\n\t\t    cmdID     = bb.readUInt16LE(5);\n\t\t    seqID     = bb.readUInt16LE(7);\n\t        dataSize  = size - 11;\n\t        var data  = false;\n\t        if (dataSize > 0) {\n\t            data = bb.slice(9, size-2);\n\t        }\n\t        var crc16 = bb.readUInt16LE(size - 2);\n\t        \n\t        ret.cmd = cmdID;\n\t        ret.seq = seqID;\n\t        ret.pacType= pacType;\n\t        ret.dataSize = dataSize;\n\t        ret.data = data;\n\t\t} else {\n\t\t    ret = bb.toString();\n\t\t}\n\t} else {\n\t    ret = bb.toString();\n\t}\n\treturn ret;\n}\n\t\nmsg.payload = parsePacket(msg.payload);\nif (msg.payload.cmd) {\n    var tstatus = global.get(\"tellomsg\") | {};\n    tstatus.cmdID  = msg.payload.cmd;\n    tstatus.seqID  = msg.payload.seq;\n    tstatus.pacType= msg.payload.pacType;\n    global.set(\"tellomsg\",tstatus);\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["a50a130b.55d53"]]},{"id":"868dd0b6.4afd6","type":"debug","z":"6c4ef3f6.6b4e3c","name":"Otherwise","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":400,"wires":[]},{"id":"3298a14d.a7c15e","type":"comment","z":"6c4ef3f6.6b4e3c","name":"Receive Return Strings","info":"","x":160,"y":260,"wires":[]},{"id":"f5542882.8cb2c8","type":"function","z":"6c4ef3f6.6b4e3c","name":"Send Con_Req","func":"videoPort = 6038;\nmsg = {};\nmsg.payload = new Buffer(\"conn_req:lh\");\nmsg.payload[9] = videoPort & 0xFF;\nmsg.payload[10] = (videoPort >> 8) & 0xFF;\nglobal.set(\"seqID\", -1);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["33144f63.ee0b8"]]},{"id":"d5234426.0a3918","type":"inject","z":"6c4ef3f6.6b4e3c","name":"TELLO_LOW_LEVEL_CONNECT","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"","x":200,"y":40,"wires":[["275cfd58.30fe82"]]},{"id":"a50a130b.55d53","type":"switch","z":"6c4ef3f6.6b4e3c","name":"","property":"payload.cmd","propertyType":"msg","rules":[{"t":"eq","v":"86","vt":"num"},{"t":"eq","v":"26","vt":"num"},{"t":"eq","v":"53","vt":"num"},{"t":"eq","v":"4176","vt":"num"},{"t":"eq","v":"98","vt":"num"},{"t":"eq","v":"99","vt":"num"},{"t":"eq","v":"48","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":8,"x":510,"y":300,"wires":[[],[],[],[],["f2adce47.e50b2"],["9bdec02e.7b3ea"],["5a046855.000a18"],["868dd0b6.4afd6"]],"outputLabels":["FlightStatus","WifiStrength","LightStrength","LogHeader","FileSize","FileData","DoTakePic","otherwise"]},{"id":"5a046855.000a18","type":"debug","z":"6c4ef3f6.6b4e3c","name":"DoTakePic","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":360,"wires":[]},{"id":"8b4212e9.0cea3","type":"link in","z":"6c4ef3f6.6b4e3c","name":"TELLO-SND_LOW_LEVEL_CMD","links":["92905b8d.45db68"],"x":555,"y":160,"wires":[["899770bf.0aa5b"]]},{"id":"f2adce47.e50b2","type":"function","z":"6c4ef3f6.6b4e3c","name":"unpack FileSize message","func":"// Ignore if not from drone\nif (0x80 & msg.payload.pacType) {\n    msg.payload.fileType = msg.payload.data.readInt8(0);\n    msg.payload.fileSize = msg.payload.data.readInt32LE(1);\n    msg.payload.fileID = msg.payload.data.readInt16LE(5);\n    flow.set(\"file\" +  msg.payload.fileID, {\"size\" : msg.payload.fileSize, \n                                \"receivedBytes\" : 0,\n                                \"imageBytes\" : Buffer.alloc(msg.payload.fileSize),\n                                \"pieces\" : {}\n                            });\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["1e455360.c5697d"]]},{"id":"1e455360.c5697d","type":"change","z":"6c4ef3f6.6b4e3c","name":"Ack FileSizeMsg","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"TelloCmdId\":98,\"data\":[0],\"packType\":2}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":280,"wires":[["92905b8d.45db68"]]},{"id":"92905b8d.45db68","type":"link out","z":"6c4ef3f6.6b4e3c","name":"","links":["8b4212e9.0cea3"],"x":1135,"y":300,"wires":[]},{"id":"9bdec02e.7b3ea","type":"function","z":"6c4ef3f6.6b4e3c","name":"Unpack FileData message","func":"var fileID = msg.payload.data.readInt16LE(0);\nvar filePiece = msg.payload.data.readInt32LE(2);\nvar fileChunk = msg.payload.data.readInt32LE(6);\nvar chunkLen = msg.payload.data.readInt16LE(10);\nvar file = flow.get(\"file\" + fileID);\nif ((!file) || (\"undefined\" === typeof file.receivedBytes)) {\n    msg.payload = {};\n} else {\n    msg.payload.data.copy(file.imageBytes, 1024*fileChunk, 12);\n    msg.payload = {};\n    msg.payload.unpackedHeader = {\"ID\" : fileID, \n                \"piece\" : filePiece,\n                \"chunk\" : fileChunk,\n                \"len\" : chunkLen\n    };\n    if (file.pieces[filePiece]) {\n        if (!file.pieces[filePiece].includes(fileChunk)) {\n            file.pieces[filePiece].push(fileChunk);\n            file.receivedBytes += chunkLen;\n            if (8 == file.pieces[filePiece].length) {\n                msg.payload.TelloCmdId = 99;\n                msg.payload.packType = 2;\n                msg.payload.data = Buffer.alloc(7);\n                msg.payload.data.writeInt8(0, 0);\n                msg.payload.data.writeInt16LE(fileID, 1);\n                msg.payload.data.writeInt32LE(filePiece, 3);\n            }\n        }\n    } else {\n        msg.payload = {};\n        msg.payload.unpackedHeader = {\"ID\" : fileID, \n                \"piece\" : filePiece,\n                \"chunk\" : fileChunk,\n                \"len\" : chunkLen\n        };\n        file.pieces[filePiece] = [fileChunk];\n        file.receivedBytes += chunkLen;\n    }\n    msg.payload.unpackedHeader.receivedBytes = file.receivedBytes;\n    \n    if (file.receivedBytes == file.size) {\n        flow.set ([\"file\" + fileID], null);\n        msg.payload.TelloCmdId = 99;\n        msg.payload.packType = 2;\n        msg.payload.data = Buffer.alloc(7);\n        msg.payload.data.writeInt8(1, 0);\n        msg.payload.data.writeInt16LE(fileID, 1);\n        msg.payload.data.writeInt32LE(filePiece, 3);\n        \n        msg1 = {\"payload\" : {}};\n        msg1.payload.TelloCmdId = 100;\n        msg1.payload.packType = 1;\n        return [[msg, msg1], {\"payload\":file.imageBytes}];\n    } else if (msg.payload.TelloCmdId) {\n        flow.set(\"file\" + fileID, file);\n        return [msg, null];\n    } else {\n        flow.set(\"file\" + fileID, file);\n        return [null, null];\n    }\n}","outputs":2,"noerr":0,"x":750,"y":320,"wires":[["92905b8d.45db68"],["c1b7574.b784fa8"]],"outputLabels":["completedPieceAck","Received image"]},{"id":"5fc7f4ad.b30f1c","type":"ui_template","z":"6c4ef3f6.6b4e3c","group":"1fda333b.c2dafd","name":"Photo","order":3,"width":"12","height":"9","format":"<div ng-bind-html></div>\n<img width=\"300\" height=\"300\" alt=\"Watson Image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":750,"y":520,"wires":[[]]},{"id":"57adab28.124dc4","type":"change","z":"6c4ef3f6.6b4e3c","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"<div ng-bind-html></div> <img width=\"300\" height=\"300\" alt=\"Watson Image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":520,"wires":[["5fc7f4ad.b30f1c"]]},{"id":"2059d251.46ba1e","type":"base64","z":"6c4ef3f6.6b4e3c","name":"Encode","x":260,"y":520,"wires":[["57adab28.124dc4"]]},{"id":"95a32dc5.193b5","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"Start Visual Recognition","group":"1fda333b.c2dafd","order":1,"width":0,"height":0,"passthru":false,"label":"Start Visual Recognition every 10 seconds","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":160,"wires":[["46a96bc0.62ded4"]]},{"id":"c1b7574.b784fa8","type":"link out","z":"6c4ef3f6.6b4e3c","name":"Picture Arrived","links":["49d59fa1.9141f"],"x":1135,"y":340,"wires":[]},{"id":"49d59fa1.9141f","type":"link in","z":"6c4ef3f6.6b4e3c","name":"Picture Processing","links":["c1b7574.b784fa8"],"x":75,"y":540,"wires":[["2059d251.46ba1e","4137eca5.e13d44"]]},{"id":"963aa9a8.528858","type":"visual-recognition-v3","z":"6c4ef3f6.6b4e3c","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":550,"y":580,"wires":[["298653ed.a88e1c","dce20cef.a23b5"]]},{"id":"298653ed.a88e1c","type":"debug","z":"6c4ef3f6.6b4e3c","name":"","active":true,"console":"false","complete":"result","x":760,"y":620,"wires":[]},{"id":"73d5a399.5e365c","type":"ui_template","z":"6c4ef3f6.6b4e3c","group":"9624abcb.ca80e8","name":"Results Table","order":1,"width":"9","height":"14","format":"","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1120,"y":580,"wires":[["b349bb2a.28ec08"]]},{"id":"ff25354a.eeaad8","type":"debug","z":"6c4ef3f6.6b4e3c","name":"What did Watson find?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1140,"y":620,"wires":[]},{"id":"275cfd58.30fe82","type":"function","z":"6c4ef3f6.6b4e3c","name":"connreq","func":"//var message = new Buffer( 'conn_req:' );\n//msg.payload = message;\n//return msg;\n\nvar out = Buffer.alloc(11);\nout.write('conn_req:');\nmsg.payload = \tout\t;\t\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":40,"wires":[["33144f63.ee0b8"]]},{"id":"ebd83467.574858","type":"debug","z":"6c4ef3f6.6b4e3c","name":"","active":false,"console":"false","complete":"false","x":990,"y":200,"wires":[]},{"id":"ff6d0667.d3e548","type":"link in","z":"6c4ef3f6.6b4e3c","name":"TelloControls-In","links":["2e73c055.83b49"],"x":555,"y":200,"wires":[["353afa62.b174c6"]]},{"id":"4a8eb8bd.2c72f8","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Land","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":760,"wires":[["2bba6f39.d27b9"]]},{"id":"c78694e5.035b18","type":"inject","z":"6c4ef3f6.6b4e3c","name":"TakeOff","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":800,"wires":[["2f90b95c.8a2b36"]]},{"id":"1a19b32f.0999cd","type":"delay","z":"6c4ef3f6.6b4e3c","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":840,"wires":[["9855968b.fd6978"]]},{"id":"9855968b.fd6978","type":"change","z":"6c4ef3f6.6b4e3c","name":"TakeOff","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"takeoff","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":840,"wires":[["2e73c055.83b49"]]},{"id":"2f90b95c.8a2b36","type":"change","z":"6c4ef3f6.6b4e3c","name":"Init","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"command","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":800,"wires":[["1a19b32f.0999cd","2e73c055.83b49"]]},{"id":"2bba6f39.d27b9","type":"change","z":"6c4ef3f6.6b4e3c","name":"Land","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"land","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":760,"wires":[["2e73c055.83b49"]]},{"id":"2e73c055.83b49","type":"link out","z":"6c4ef3f6.6b4e3c","name":"TelloControls-Out","links":["ff6d0667.d3e548"],"x":755,"y":1040,"wires":[]},{"id":"353afa62.b174c6","type":"change","z":"6c4ef3f6.6b4e3c","name":"format outbound message","rules":[{"t":"set","p":"payload","pt":"msg","to":"$exists(payload.tellovalue) ? payload.tellocmd & ' ' & payload.tellovalue : payload.tellocmd","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":200,"wires":[["ebd83467.574858","33144f63.ee0b8"]]},{"id":"6618c3b.4b15b3c","type":"change","z":"6c4ef3f6.6b4e3c","name":"Up 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"up","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":920,"wires":[["2e73c055.83b49"]]},{"id":"da224fd3.181df","type":"change","z":"6c4ef3f6.6b4e3c","name":"Right 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"right","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1000,"wires":[["2e73c055.83b49"]]},{"id":"e0e40079.6e77","type":"change","z":"6c4ef3f6.6b4e3c","name":"Forward 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"forward","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1080,"wires":[["2e73c055.83b49"]]},{"id":"81446377.831ea","type":"change","z":"6c4ef3f6.6b4e3c","name":"Down 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"down","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":960,"wires":[["2e73c055.83b49"]]},{"id":"6f3fbc1d.d0a004","type":"change","z":"6c4ef3f6.6b4e3c","name":"Left 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"left","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1040,"wires":[["2e73c055.83b49"]]},{"id":"bfe452a3.80118","type":"change","z":"6c4ef3f6.6b4e3c","name":"Back 50cm","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"back","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"50","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1120,"wires":[["2e73c055.83b49"]]},{"id":"85b4a6ab.588bf8","type":"change","z":"6c4ef3f6.6b4e3c","name":"cw 90º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1160,"wires":[["2e73c055.83b49"]]},{"id":"937f6752.cb9d38","type":"change","z":"6c4ef3f6.6b4e3c","name":"ccw 90º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"ccw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"90","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1200,"wires":[["2e73c055.83b49"]]},{"id":"a69663a.3aef9a","type":"change","z":"6c4ef3f6.6b4e3c","name":"Flip f","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"flip","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"f","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1280,"wires":[["2e73c055.83b49"]]},{"id":"36203b5f.36cd34","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Up 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":920,"wires":[["6618c3b.4b15b3c"]]},{"id":"f0b64d9a.0d675","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Down 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":960,"wires":[["81446377.831ea"]]},{"id":"e47e4845.ec3d98","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Right 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":1000,"wires":[["da224fd3.181df"]]},{"id":"e79d75e6.c35748","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Left 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":1040,"wires":[["6f3fbc1d.d0a004"]]},{"id":"c1106f86.25976","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Forward 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":170,"y":1080,"wires":[["e0e40079.6e77"]]},{"id":"2131a810.581088","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Back 50cm","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":1120,"wires":[["bfe452a3.80118"]]},{"id":"92d2d4e6.53f408","type":"inject","z":"6c4ef3f6.6b4e3c","name":"cw 90º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1160,"wires":[["85b4a6ab.588bf8"]]},{"id":"a3d9f220.d1d44","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Full 360º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":1240,"wires":[["ba3aeab0.1cea48"]]},{"id":"c242e7b.51fbf18","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Flip forward","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":1280,"wires":[["a69663a.3aef9a"]]},{"id":"e1f5209c.2f615","type":"inject","z":"6c4ef3f6.6b4e3c","name":"ccw 90º","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":1200,"wires":[["937f6752.cb9d38"]]},{"id":"ba3aeab0.1cea48","type":"change","z":"6c4ef3f6.6b4e3c","name":"cw 360º","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"cw","tot":"str"},{"t":"set","p":"payload.tellovalue","pt":"msg","to":"360","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1240,"wires":[["2e73c055.83b49"]]},{"id":"8a5e3da3.99567","type":"change","z":"6c4ef3f6.6b4e3c","name":"Emergency","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.tellocmd","pt":"msg","to":"emergency","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":880,"wires":[["2e73c055.83b49"]]},{"id":"84a6476a.006a98","type":"inject","z":"6c4ef3f6.6b4e3c","name":"Emergency","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":160,"y":880,"wires":[["8a5e3da3.99567"]]},{"id":"538b82bb.9472cc","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":6,"width":0,"height":0,"passthru":false,"label":"Land","color":"","bgcolor":"","icon":"","payload":"land","payloadType":"str","topic":"","x":330,"y":740,"wires":[["2bba6f39.d27b9"]]},{"id":"52a77d0b.c2ff34","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":4,"width":0,"height":0,"passthru":false,"label":"Takeoff","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":780,"wires":[["2f90b95c.8a2b36"]]},{"id":"1706302d.3e98","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":17,"width":0,"height":0,"passthru":false,"label":"Up (50cm)","color":"","bgcolor":"","icon":"fa-arrow-up","payload":"true","payloadType":"bool","topic":"","x":350,"y":900,"wires":[["6618c3b.4b15b3c"]]},{"id":"da2f093f.429e88","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":18,"width":0,"height":0,"passthru":false,"label":"Down (50cm)","color":"","bgcolor":"","icon":"fa-arrow-down","payload":"true","payloadType":"bool","topic":"","x":350,"y":940,"wires":[["81446377.831ea"]]},{"id":"42eabb20.44de94","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":19,"width":0,"height":0,"passthru":false,"label":"Right (50cm)","color":"","bgcolor":"","icon":"fa-arrow-right","payload":"true","payloadType":"bool","topic":"","x":350,"y":980,"wires":[["da224fd3.181df"]]},{"id":"6a62bfe5.e420a","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":20,"width":0,"height":0,"passthru":false,"label":"Left (50cm)","color":"","bgcolor":"","icon":"fa-arrow-left","payload":"true","payloadType":"bool","topic":"","x":350,"y":1020,"wires":[["6f3fbc1d.d0a004"]]},{"id":"837b8b58.63bc58","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":21,"width":0,"height":0,"passthru":false,"label":"Forward (50cm)","color":"","bgcolor":"","icon":"fa-forward","payload":"true","payloadType":"bool","topic":"","x":360,"y":1060,"wires":[["e0e40079.6e77"]]},{"id":"abf0ec86.27684","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":22,"width":0,"height":0,"passthru":false,"label":"Backward (50cm)","color":"","bgcolor":"","icon":"fa-backward","payload":"true","payloadType":"bool","topic":"","x":370,"y":1100,"wires":[["bfe452a3.80118"]]},{"id":"2402b619.ef888a","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":23,"width":0,"height":0,"passthru":false,"label":"Clockwise (90º)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":360,"y":1140,"wires":[["85b4a6ab.588bf8"]]},{"id":"5e6e79a3.da5b18","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"Counter Clockwise","group":"674dcbdd.fee214","order":24,"width":0,"height":0,"passthru":false,"label":"Anti-Clockwise (90º)","color":"","bgcolor":"","icon":"fa-undo","payload":"true","payloadType":"bool","topic":"","x":370,"y":1180,"wires":[["937f6752.cb9d38"]]},{"id":"6143ba36.fd4d94","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":25,"width":0,"height":0,"passthru":false,"label":"Full Rotation (360º)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":370,"y":1220,"wires":[["ba3aeab0.1cea48"]]},{"id":"db8381c9.81382","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":26,"width":0,"height":0,"passthru":false,"label":"Flip (forward)","color":"","bgcolor":"","icon":"fa-repeat","payload":"true","payloadType":"bool","topic":"","x":350,"y":1260,"wires":[["a69663a.3aef9a"]]},{"id":"7707299c.179738","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"674dcbdd.fee214","order":1,"width":0,"height":0,"passthru":false,"label":"Emergency Stop","color":"","bgcolor":"red","icon":"fa-stop-circle","payload":"true","payloadType":"bool","topic":"","x":360,"y":860,"wires":[["8a5e3da3.99567"]]},{"id":"ee7aca86.0dee48","type":"comment","z":"6c4ef3f6.6b4e3c","name":"================================ Send Tello SDK Commands =========================","info":"For a list of Tello SDK commands, visit\nhttps://dl-cdn.ryzerobotics.com/downloads/Tello/Tello%20SDK%202.0%20User%20Guide.pdf","x":410,"y":700,"wires":[]},{"id":"46a96bc0.62ded4","type":"change","z":"6c4ef3f6.6b4e3c","name":"Toggle VisualRecognition","rules":[{"t":"set","p":"VisualRecognition","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[[]]},{"id":"a489f819.0f90b8","type":"ui_button","z":"6c4ef3f6.6b4e3c","name":"","group":"1fda333b.c2dafd","order":2,"width":0,"height":0,"passthru":false,"label":"Stop Visual Recognition","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":150,"y":200,"wires":[["46a96bc0.62ded4"]]},{"id":"5a493371.795a9c","type":"switch","z":"6c4ef3f6.6b4e3c","name":"Check VisualRecognition","property":"VisualRecognition","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":80,"wires":[["9f27f24b.a9f9f"]]},{"id":"49730970.1e07d8","type":"ui_text_input","z":"6c4ef3f6.6b4e3c","name":"","label":"Watson Visual Recognition custom classifier","group":"1fda333b.c2dafd","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":230,"y":460,"wires":[["f9cce493.dd8b68"]]},{"id":"e5b50b.94bc8af8","type":"ui_text","z":"6c4ef3f6.6b4e3c","group":"1fda333b.c2dafd","order":4,"width":0,"height":0,"name":"Custom Classifier prompt","label":"If you have created a Watson Visual Recognition custom classifier for drone image detection, enter the classifier ID here:","format":"{{msg.payload}}","layout":"row-spread","x":170,"y":420,"wires":[]},{"id":"b0c2a58a.f749f8","type":"debug","z":"6c4ef3f6.6b4e3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":460,"wires":[]},{"id":"f9cce493.dd8b68","type":"change","z":"6c4ef3f6.6b4e3c","name":"","rules":[{"t":"set","p":"vr_classifier","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":460,"wires":[["b0c2a58a.f749f8"]]},{"id":"ea6a3b46.de5388","type":"debug","z":"6c4ef3f6.6b4e3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"params","x":530,"y":620,"wires":[]},{"id":"4137eca5.e13d44","type":"function","z":"6c4ef3f6.6b4e3c","name":"Set Custom Classifier","func":"msg.params = {};\nvar CustomClassifier = flow.get(\"vr_classifier\") || \"\";\n\nif( CustomClassifier.length ) {\n  // msg.params[\"classifier_ids\"]=\"food,default\";\n    msg.params.classifier_ids = CustomClassifier + \",default\";  \n} else {\n    msg.params.classifier_ids = \"default\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["963aa9a8.528858","ea6a3b46.de5388"]]},{"id":"dce20cef.a23b5","type":"function","z":"6c4ef3f6.6b4e3c","name":"Process Results - Multiple Classifiers","func":"if (typeof msg.result == 'undefined') {\n    return null;\n}\n\nif (typeof msg.result.error != 'undefined') {\n    //The Lite Plan allows users to make 7,500 API calls for free\n    // Daily limit is  (up to 250 calls per day)\n    // {\"status\":\"ERROR\",\"statusInfo\":\"Key is over transaction limit\"}\n    msg.template = msg.result.error.message;\n    return msg;\n}\n\n// Text Extraction\nif (typeof msg.result.images[0].text != 'undefined') {\n    var image_text = msg.result.images[0].text;\n    msg.payload = image_text;\n    msg.template = image_text;\n    if( image_text.length >0 ) {\n       msg.template= \"Watson found the words: \"+image_text;\n    }\n    return msg;\n}\n\nvar c_id = 0;\nvar WhichClassifier = [];\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n    var bestcolor = -1;\n    var colorscore = 0;\n    var item = \"\";\n    // find the best color, if any\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      if( typeof msg.result.images[0].classifiers[c_id].classes[i] != 'undefined') {\n          if( typeof msg.result.images[0].classifiers[c_id].classes[i].class != 'undefined') {\n              var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n              if ( object.includes(\"color\") ) {\n                if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n                    bestcolor = i;\n                    colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n                }\n              }\n          }  \n      }  \n    }\n\n    var bestItem = 0;\n    var itemScore = 0;\n    for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n      if( typeof msg.result.images[0].classifiers[c_id].classes[i] != 'undefined') {\n        if( typeof msg.result.images[0].classifiers[c_id].classes[i].class != 'undefined') {\n          var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n          if ( !object.includes(\"color\") ) {\n           if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n  //            bestItem = i;\n              bestItem = 0;\n              itemScore =  msg.result.images[0].classifiers[c_id].classes[i].score;\n              }\n          }\n        }\n      }  \n    }\n\n     if( bestcolor != \"-1\") {\n        // found a color\n        if( msg.result.images[0].classifiers[c_id].classes.length > 0) {\n            if( typeof msg.result.images[0].classifiers[c_id].classes[bestcolor].class != 'undefined') {\n                item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n            }\n        }\n        bestcolor = -1;\n    } else {\n       if( msg.result.images[0].classifiers[c_id].classes.length > 0) {\n           if( typeof msg.result.images[0].classifiers[c_id].classes[bestItem].class != 'undefined') {\n                item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n           }     \n       }     \n    }\n    \n    if( item.length ) {\n        WhichClassifier.push(\"Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".<br>\");\n    } else {\n        WhichClassifier.push(\"The \"+msg.result.images[0].classifiers[c_id].name+\" classifier did not detect any objects in this picture.\");\n    }    \n            \n}\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\nmsg.template=\"<style>\";\nmsg.template=msg.template+\"table { width: 440px; margin-top: 10px; }\";\nmsg.template=msg.template+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.template=msg.template+\"</style>\";\n\n// 1st Table\nmsg.template=msg.template+\"<h2>\"+WhichClassifier[0]+\"</h2>\";\nif( arrayLength ) {\n    msg.template=msg.template+\"<table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\n    for (var i = 0; i < arrayLength; i++) {\n      msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n    }\n    msg.template = msg.template + \"</table>\";\n}\n\nvar picInfo = msg.result.images[0].classifiers[1].classes;\nvar arrayLength = picInfo.length;\n\n// 2nd Table\n    msg.template=msg.template+\"<h2>\"+WhichClassifier[1]+\"</h2>\";\nif( arrayLength ) {\n    msg.template=msg.template+\"<table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\n    for (var i = 0; i < arrayLength; i++) {\n      msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n    }\n    msg.template = msg.template + \"</table>\";\n}\nmsg.payload=msg.template;\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":580,"wires":[["73d5a399.5e365c","ff25354a.eeaad8"]]},{"id":"b349bb2a.28ec08","type":"cloudant out","z":"6c4ef3f6.6b4e3c","name":"drone_info","cloudant":"1654f8eb.7f9107","database":"drone_info","service":"_ext_","payonly":false,"operation":"insert","x":1330,"y":520,"wires":[]},{"id":"1fda333b.c2dafd","type":"ui_group","z":"","name":"Camera","tab":"e5c94a29.5adbd8","order":2,"disp":true,"width":"12","collapse":false},{"id":"9624abcb.ca80e8","type":"ui_group","z":"","name":"Results","tab":"e5c94a29.5adbd8","order":3,"disp":true,"width":"9","collapse":false},{"id":"674dcbdd.fee214","type":"ui_group","z":"","name":"Controls","tab":"e5c94a29.5adbd8","order":1,"disp":true,"width":"4","collapse":false},{"id":"1654f8eb.7f9107","type":"cloudant","z":"","host":"https://90874da0-7626-40aa-a36a-ed6a3b5574d1-bluemix.cloudant.com/","name":"drone_info"},{"id":"e5c94a29.5adbd8","type":"ui_tab","z":"","name":"Tello Camera Dashboard","icon":"dashboard","order":7}]